*~
bin/*.class
.cache
.classpath
.sbtserver*
cvs/
dist
/doc
.DS_Store
.history
.idea*
*.iml
*.lock
*.log
logs
__MACOSX
Notepad++/
*.out
play-fork-run.sbt
.project
project/project
project/target
.sbtserver
sbt-ui.sbt
.settings
*.stackdump
*.sublime*
.svn/
target
.target
tmp

